.marquee-container {
  overflow: hidden;
  width: 100vw; /* Adjusted width */
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marquee-heading {
  text-align: center;
  margin-bottom: 10px;
}

.marquee-content {
  display: flex;
  animation: marqueeAnimation 80s linear infinite; /* Adjusted animation duration */
  animation-delay: -10s; 
}

.marquee-item {
  height: 25vh;
  width: 20vw;
  margin-left: 10vw;
  transition: transform 0.5s ease; /* Added smooth transition */
}

.marquee-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

.marquee-container:not(:hover) .marquee-content {
  animation-play-state: running;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
